<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Crops</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="well-lg">

    <!-- Navigation -->
    <div class="navbar">
        <a href="/../">Home</a>
        <a href="#">Crop information</a>
        <a href="/../news">News</a>
        <a href="/../weather">Weather</a>
        <a href="#">Pricing</a>
        <a href="https://shop.iffcobazar.com/en/plant-growth-promoters.html">Agri Store</a>
        <a href="/../contact">Expert Help</a>
        <a href="/about">About devlopers</a>
    </div>

    <div class="footer-blurb jumbotron">
        <div class="container">
            <h1 class="text-uppercase text-center bold"> Agri Seva Kiosk</h1>
            <h4 class="text-center text-lowercase">Agriculture one stop kiosk for all Farmer's needs.</h4>
        </div>
    </div>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12 glyphicon">
                <h1 class="page-header text-center"><strong class="font"> &nbsp;Select Crop &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; </strong></h1>
            </div>
            <!-- <div class="col-lg-12 glyphicon">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div> -->
        </div>
        <!-- /.row -->

        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="#">
                </a> </article>
        </div>
        <div class="row">
            <%for(let i=0;i<crops.length;i++) {%>
                <div class="card col-sm-6 panel-body" style="width: 28rem;">
                    <a href="/crops/<%=crops[i].name%>"><img src="<%=crops[i].imageLink%>" alt="Card image cap" style="width: 28rem;"
                        class="card-img-top img-responsive"></a>
                    <div class="card-body">
                        <h2 class="card-title bold"><%=crops[i].name%></h2>
                        <p class="card-text">
                            <%=crops[i].desc%>
                        </p>
                        <a href="/crops/<%=crops[i].name%>" class="btn btn-primary">Get info</a>
                    </div>
                </div>
                <%}%>
        </div>
    </div>
    <!-- /.container -->

    <footer class="text-center">Made by SMEC </footer>


    <!-- jQuery -->
    <script src="/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="/js/holder.min.js"></script>
</body>

</html>